/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: FredokaFamily;
    src: url("/assets/fonts/FredokaOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: RajdhaniFamily;
    src: url("/assets/fonts/Rajdhani-Medium.ttf") format("truetype");
}

@font-face {
    font-family: RobotoFamily;
    src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: BahamasFamily;
    src: url("/assets/fonts/Bahamas Bold.ttf") format("truetype");
}

@font-face {
    font-family: BankGothicFamily;
    src: url("/assets/fonts/BankGthd.ttf") format("truetype");
}

@media print{
    @page 
    {
        size: auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }
    .buttonClass{
        display: none !important;
    }
}

.container{
    margin-top:50px;
    font-size: 20px;
}
