<div class="container">
  <div class="row">
    <div class="col-sm-12 border text-center" style="border-bottom:none !important">
      <br>
      <span style="font-family: fantasy; font-size: 35px;text-decoration: underline">SHREENATHJI CEMENT
        INDUSTRIES</span>
      <span style="display:block" class="common"> Survey No. 44, Plot No. 6,7,8, HADAMTALA. Ta. Kotdasangani. Dist.
        :Rajkot (Gujarat) Mo. 99989 45722</span>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 border" style="border-bottom:none !important;border-right:none !important">
      <span>Name & Address of Consignee:</span>
      <br>
      <span style="margin-left:30px;">{{this.consignee}}</span>
      <br>
      <br>
      <span>Customer GSTIN: {{this.custGST}}</span><br>
      <pre>State           : Gujarat</pre><br>
      <pre>State Code : 24</pre>
    </div>
    <div class="col-sm-3 border" style="border-bottom:none !important">
      <span style="font-weight: bold"> CASH MEMO/ DEBIT MEMO</span>
      <br><br><br><br>
      <span>INVOICE No.: {{this.invoiceNo}}</span>
      <br>
      <span>DATE: {{this.todayDate}}</span>
    </div>
  </div>

  <div class="row">
    <table style="width:100%">
      <tr>
        <th style="width:5%">Sr. No.</th>
        <th style="width:35%">Description of Goods</th>
        <th style="width:15%">HSN Code</th>
        <th style="width:10%">Quantity M.T.</th>
        <th style="width:10%">Rate</th>
        <th style="width:10%">GST%</th>
        <th style="width:15%">Total Amount</th>
      </tr>
      <tr>
        <td class="rowProp">1.</td>
        <td class="rowProp">{{this.goodsDesc}}</td>
        <td class="rowProp">{{this.hsnCode}}</td>
        <td class="rowProp">{{this.quantity | number : '1.2'}}</td>
        <td class="rowProp">{{this.rate | number : '1.2'}}</td>
        <td class="rowProp">{{this.gst | number : '1.2'}}</td>
        <td class="amtProp">{{this.totAmount | number : '1.2'}}</td>
      </tr>
      <tr>
        <td colspan="5">Dispatch Through:</td>
        <td>TOTAL Rs.</td>
        <td class="amtProp">{{this.totAmount | number : '1.2'}}</td>
      </tr>
      <tr>
          <td colspan="5">L R No.: {{this.lrNo}}</td>
          <td>SGST@ {{this.halfgst | number : '1.2'}} %</td>
          <td class="amtProp">{{halfgstAmt | number : '1.2'}}</td>
        </tr>
      <tr>
        <td colspan="5">Vehical No.: {{this.vehicleNo}}</td>
        <td>CGST@ {{this.halfgst | number : '1.2'}} %</td>
        <td class="amtProp">{{halfgstAmt | number : '1.2'}}</td>
      </tr>
      <tr>
        <td colspan="5">GST Amount in Words:  {{this.totgstWord | titlecase}}</td>
        <td>Round off</td>
        <td class="amtProp">{{this.roundOff | number : '1.2'}}</td>
      </tr>
      <tr>
        <td colspan="5">Rupees in Words: {{this.grandTotWord | titlecase}}</td>
        <td>GRAND TOTAL</td>
        <td class="amtProp">{{this.grandTot | number : '1.2'}}</td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col-sm-9" style="font-weight:bold;border-left:1px solid black">
      <span>We hereby declare that our registration certificate number are as under</span><br><br>
      <pre>GSTIN No.      : 24ABHFS8289H1ZM</pre><br>
      <pre>Bank Name    : KOTAK MAHINDRA</pre><br>
      <pre>Bank A/c No.  : 1612988837</pre><br>
      <pre>IFSC Code     : KKBK0002788</pre><br><br>
      <span>This Product is manufactured by mini cement plant</span>
    </div>
    <div class="col-sm-3 border text-center" style="border-bottom:none !important;border-top:none !important">
      <span style="font-size:12px">For and behalf of:</span>
      <br>
      <span style="font-weight: bold; font-size:14px">SHREENATHJI CEMENT INDUSTRIES</span>
      <br>
      <br>
      <br>
      <br>
      <br>
      <span style="font-size:12px">(Authorised Signature)</span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 border">
      <span>Terms & Conditions:</span><br>
      <span>1. Our responsibility cease as soon as goods are handed over to carries/your representative.</span><br>
      <span>2. Sold goods will not be taken back or exchanged.</span><br>
      <span>3. If payment is not received within 15 days agreed by us, interest @24% will be charged.</span><br>
      <span>4. All transactions are subject to local Jurisdiction only</span>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-top:5px">
    
    <input type="button" [routerLink]="['']" class="btn btn-info buttonClass" value="Back" />
    <input type="submit" class="btn btn-secondary buttonClass" (click)="onSubmit()" value="Print" />
  </div>

</div>