table, th, td {
    border: 1px solid black;
  }

td{
    height: 40px;
}

.rowProp {
    height : 400px;
    vertical-align: top;
}

.amtProp{
    vertical-align: top;
    text-align: right;
}

pre {
    display: contents !important;
    font-family: sans-serif !important;
}

.border{
    border-color: black !important;
}

.buttonClass{
    margin-right:30px;
}

.italic{
    font-style: italic;
}