<div class="container">
  <div class="row">
    <div class="col-sm-12 border text-center">
      <br>
      <span style="font-family: fantasy; font-size: 35px;text-decoration: underline">SHREENATHJI CEMENT
        INDUSTRIES</span>
      <span style="display:block" class="common"> Survey No. 44, Plot No. 6,7,8, HADAMTALA. Ta. Kotdasangani. Dist.
        :Rajkot (Gujarat) Mo. 99989 45722</span>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 border">
      <span>Name & Address of Consignee:</span>
      <br>
      <br>
      <br>
      <br>
      <span>Customer GSTIN:</span><br>
      <pre>State           : Gujarat</pre><br>
      <pre>State Code : 24</pre>
    </div>
    <div class="col-sm-3 border">
      <span style="font-weight: bold"> CASH MEMO/ DEBIT MEMO</span>
      <br><br><br><br>
      <span>INVOICE No.: </span>
      <br>
      <span>DATE:</span>
    </div>
  </div>

  <div class="row">
    <table style="width:100%">
      <tr>
        <th style="width:5%">Sr. No.</th>
        <th style="width:35%">Description of Goods</th>
        <th style="width:15%">HSN Code</th>
        <th style="width:10%">Total Quantity</th>
        <th style="width:10%">Rate</th>
        <th style="width:10%">GST%</th>
        <th style="width:15%">Total Amount</th>
      </tr>
      <tr>
        <td class="rowProp">1.</td>
        <td class="rowProp"></td>
        <td class="rowProp"></td>
        <td class="rowProp"></td>
        <td class="rowProp"></td>
        <td class="rowProp"></td>
        <td class="rowProp"></td>
      </tr>
      <tr>
        <td colspan="5">Dispatch Through:</td>
        <td>TOTAL Rs.</td>
        <td></td>
      </tr>
      <tr>
          <td colspan="5">L R No.:</td>
          <td>SGST @ %</td>
          <td></td>
        </tr>
      <tr>
        <td colspan="5">Vehical No.:</td>
        <td>CGST @ %</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="5">Rupees in Words:</td>
        <td>Round off</td>
        <td></td>
      </tr>
      <tr>
        <td colspan="5">GST Amount in Words:</td>
        <td>GRAND TOTAL</td>
        <td></td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col-sm-9 border" style="font-weight:bold">
      <span>We hereby declare that our registration certificate number are as under</span><br><br>
      <pre>GSTIN No. 24ABHFS8289H1ZM</pre><br>
      <pre>Bank Name   : KOTAK MAHINDRA</pre><br>
      <pre>Bank A/c No. : 1612988837</pre><br>
      <pre>IFSC Code     : KKBK0002788</pre><br><br>
      <span>This Product is manufactured by mini cement plant</span>
    </div>
    <div class="col-sm-3 border text-center">
      <span style="font-size:12px">For and behalf of:</span>
      <br>
      <span style="font-weight: bold; font-size:14px">SHREENATHJI CEMENT INDUSTRIES</span>
      <br>
      <br>
      <br>
      <br>
      <br>
      <span style="font-size:12px">(Authorised Signature)</span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 border">
      <span>Terms & Conditions:</span><br>
      <pre>1. Our responsibility cease as soon as goods are handed over to carries/your representative.</pre><br>
      <pre>2. Sold goods will not be taken back or exchanged.</pre><br>
      <pre>3. If payment is not received within 15 days agreed by us, interest @24% will be charged.</pre><br>
      <pre>4. All transactions are subject to local Jurisdiction only</pre>
    </div>
  </div>

  <div class="row justify-content-center" style="margin-top:5px">
    
    <input type="button" [routerLink]="['']" class="btn btn-info buttonClass" value="Back" />
    <input type="submit" class="btn btn-secondary buttonClass" (click)="onSubmit()" value="Print" />
  </div>

</div>